[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langgraph = "*"
langchain-openai = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchain-core = "*"
grandalf = "*"
beautifulsoup4 = "*"
tavily-python = "*"
pytest = "*"
langchain-chroma = "*"

[dev-packages]

[requires]
python_version = "3.10"
